<p id="notice"><%= notice %></p>

<h1>Listing Inventory Items</h1>

<table>
  <thead>
    <tr>
      <th>Part name</th>
      <th>Failure mode</th>
      <th>Severity</th>
      <th>Current control</th>
      <th>Recommended action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventory_items.each do |inventory_item| %>
      <tr>
        <td><%= inventory_item.part_name %></td>
        <td><%= inventory_item.failure_mode %></td>
        <td><%= inventory_item.severity %></td>
        <td><%= inventory_item.current_control %></td>
        <td><%= inventory_item.recommended_action %></td>
        <td><%= link_to 'Show', inventory_item %></td>
        <td><%= link_to 'Edit', edit_inventory_item_path(inventory_item) %></td>
        <td><%= link_to 'Destroy', inventory_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory item', new_inventory_item_path %>
